.avatar{
    margin: auto;
    margin-top: 10px;
    border-radius: 50% !important;
    overflow: hidden;
    width: 250px;
  }
  
  .level-balken{
    height: 15px;
    background-color: var(--ion-color-secondary);
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .card1 {
    margin-top: 0px;
    width: 500px;
    padding: 20px;
    border: 2px solid;
    border-radius: 15px;
    text-align: center;
    border-color: var(--ion-color-primary);
  }
  
  .button-settings{
    display: flex;
    justify-content: flex-end;
  }
  
  