<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rangliste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>

<div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>

<div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>

<div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>

<div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>

<div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>

<div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>

<div>
  <div class="flex-between ml mr ranking-mt">
    <div class="flex-start ranking-element">
      <ion-icon class="ranking-pr2 ranking-icon-size" style="color: var(--ion-color-quaternary)" name="star"></ion-icon>
      <h2 class="ranking-h2">Max Mustermann</h2>
    </div>
    <div class="flex-end ranking-element">
      <ion-icon style="color: var(--ion-color-quaternary)" class="ranking-pr2 ranking-icon-size" name="flame"></ion-icon>
      <h2 class="ranking-h2">1</h2>
    </div>
  </div>
  <div class="flex-center">
    <div class="ranking-divider"></div>
  </div>
</div>
</ion-content>
