<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Anmelden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="flex-center h100">
  <ion-card>
    <ion-card-header>

      <img style="margin: 10px" src="../../assets/logo_rmbg.png" width="50px" alt="">
      <ion-card-title>Anmelden</ion-card-title>
      <ion-card-subtitle>Schön, dass du wieder da bist! Melde dich an und wir können direkt weiterlernen.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-item>
        <ion-label position="floating">Benutzername</ion-label>
        <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Passwort</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>
      <ion-button [disabled]="!loginForm.valid" type="submit" color="primary" size="full">Anmelden</ion-button>
      <ion-button class="custom-button" (click)="navigateToRegister()"  color="dark" size="full" fill="clear">Regestrieren</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
