ion-tab-bar {
    bottom: 0px;
    position: absolute;
    border-radius: 0px;
    width: 100%;
    margin: 0 auto;
  }
  
  ion-icon {
    font-size: 40px;
  }
  
  ion-tab-button {
    --color: var(--ion-color-primary);
    --color-selected: var(--ion-color-primary);
  
    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin:  0 auto;
      width: 0;
      height: 2px;
      transition: width 0.03s ease;
  
    }
  
    &.tab-selected::before {
      background-color: var(--ion-color-primary);
      width: 20%;
      bottom: 0;
  
    }
  
    &:not(.tab-selected)::before {
      display: none;
    }
  }
  
