<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="home">
      <ion-icon src="../../assets/icon/Home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="quiz">
      <ion-icon src="../../assets/icon/Quiz.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mission">
      <ion-icon  name="medal-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="ranking">
      <ion-icon name="podium-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="../../assets/icon/Profil.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
