
<ion-content [fullscreen]="true">
  <ion-img
  src="../assets/pictures/Logo/logo_with_bg.png"
  alt="Logo"
  class="logo">
  </ion-img>
 
 
   <h1 style="color: var(--ion-color-primary);font-weight: bold; text-align: center; ">Auf geht's!</h1>
 
 
   <ion-img
   src="../assets/pictures/Symbolbilder/test.png"
   alt="Symbolbild"
   class="symbolbild">
   </ion-img>
 
   <div class="level">
    <h4>Level</h4>
   </div>
 
   <h3 style="font-weight: bold; text-align: center; margin-top: 70px">Thema</h3>
 
   <div class="center-button">
     <ion-button class="Button" shape="round" (click)="goToQuiz()" >Starten</ion-button>
   </div>
 </ion-content>
 